<!--
  Generated template for the ThingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{titlePage}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-auto-scroll>

<ion-list>
  <ion-list-header color="light">
    <ion-icon name="create"></ion-icon>
    Cadastro
  </ion-list-header>

  <form [formGroup]="formThinsgList" #thingsForm="ngForm" (ngSubmit)="createThingList()">

    <h6 *ngIf="errorName" class="error"> {{messageName}}</h6>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" formControlName="name">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Categoria</ion-label>
      <ion-select formControlName="category">
        <ion-option *ngFor="let cat of categories" value="{{ cat.id }}">
          {{ cat.name }}
        </ion-option>
      </ion-select>
    </ion-item>

<ion-item>
  <ion-label stacked>Date</ion-label>
  <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" [(ngModel)]="myDate" ></ion-datetime>
</ion-item>
</form>

  <form [formGroup]="formListItem" (ngSubmit)="addItemList()">
 
    <ion-list-header color="light">
    <ion-icon name="create"></ion-icon>
      Item
    </ion-list-header>

  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input type="text"  formControlName="item" >
      

  </ion-input>
  <button ion-button color="dark" type="submit" item-end outline>   
    <ion-icon name="add-circle"></ion-icon>
  </button>
    
    

  </ion-item>
</form>

<ion-list [hidden]="itens?.length === 0">

  <ion-list-header class="list-header" color="light">
    <ion-icon name="list-box"></ion-icon>
    Lista de Itens
  </ion-list-header>

  <ion-item *ngFor="let item of itens; let i = index">
      {{ item.name }}
      <button ion-button (click)="removeItem(i)" color="danger" type="submit" item-end outline>
        <ion-icon name="remove-circle"></ion-icon>
    </button>  
  </ion-item>

    <ion-list-header color="light">
      <button ion-button type="submit"  (click)="thingsForm.ngSubmit.emit()" block outline>CADASTRAR</button>
    </ion-list-header>
  </ion-list>
</ion-list>
</ion-content>
