page-category {
    .error{
      color: #ff0000;
      font-size: 12px;
    }
    .list-header{
      font-weight:bold; 
      font-size:120%;
    }
    // .app-content{
    //   background-color: green;
    // }
}
