<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
     Categoria
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-auto-scroll>

  <ion-list >
    <ion-list-header color="light">
      <ion-icon name="create"></ion-icon>
      Cadastro
    </ion-list-header>

    <form [formGroup]="formCategory" (ngSubmit)="creteCategory()">
    
      <h6 *ngIf="errorName" class="error"> {{messageName}}</h6>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" 
                  formControlName="name">
        </ion-input>
      </ion-item>

      <ion-item-divider>
        <button ion-button type="submit" block outline>CADASTRAR</button>
      </ion-item-divider>

    </form>
  </ion-list>

 <ion-list [hidden]="categories?.length === 0">

    <ion-list-header class="list-header" color="light">
      <ion-icon name="list-box"></ion-icon>
      Lista
    </ion-list-header>


  <ion-item-sliding *ngFor="let category of categories; let i = index" >
    <ion-item >
      {{category.name}}
      <ion-icon name="book" item-right></ion-icon>
    </ion-item>

    <ion-item-options side="right">
        <button (click)="removeCategory(category.id, i)" ion-button color="danger">
          <ion-icon name="trash" item-right></ion-icon>
          apagar
        </button>

        <button (click)="editCategory(category.id, i)" ion-button color="secondary">
          <ion-icon name="create" item-right></ion-icon>
          Editar
        </button>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-divider></ion-item-divider>
</ion-list>



</ion-content>
